.topic-descirption {
    width:600px;
    background-color: rgba(255, 255, 255, 0.253);;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 40px;
  }
  
  .topic-description-heading {
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .topic-description-text {
    font-size: 16px;
  }
  
  
  .sidebar-menu-topics {
    text-align: right;
    color: #444755;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }
  
  ul.sidebar-menu-topics {
    list-style-type: none;
  } 
  
  li { 
    margin-bottom: 40px;
  }
  
  a.sidebar-menu-topics:hover {
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 15px rgb(255, 255, 255);
  }
  
  a.sidebar-menu-topics:visited, a:active  {
    text-decoration: none;
  }

  a.sidebar-menu-topics:visited {
    text-decoration: none;
    /* color: white; */
  }
  
  a.sidebar-menu-topics:active {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px rgb(255, 255, 255);
  }
  
  a.sidebar-menu-topics:link {
    text-decoration: none;
    /* color: white; */
    -webkit-transition: text-shadow 5s; 
    transition: text-shadow 2s;
  }

  .sidebar-menu {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: white
  }
  
  
  tr.sidebar-menu-topics {
    padding-top: 500px; 
    padding-bottom: 50px;
    padding-right: 20px;
    background-color: red;
  }
  
  