.login-area {
    background-color: white; 
    padding: 20px;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
  }
  
  input.login { 
    width: 350px;
    height: 50px;
    font-size: 25px;
  }
  
  #submit-login-btn {
    align-self: stretch;
    
  }
  
  .login {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
  }
  
  .login-option-active {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .login-option-inactive {
    background-color: #e6e6e6; 
    color: #3b3b3b;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
  }
  